/********** Base styles **********/  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/** HEADER **/
#header-nav {
  color: #FFFFFF;
  background-color: #FFAE42;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
  a { color: inherit; 
} 
  a:hover {
    color:#00A0C6;
    text-decoration:none; 
    cursor:pointer;  
}
.navbar-brand h1 { /* Restaurant name */
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #FFFFFF;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #FFFFFF;
}
#nav-list a:hover {
  background: #00A0C6;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar.navbar-default .navbar-nav > .active > a {
    background-color: #cbd933;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFFFFF;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/** BODY **/
body {
  font-size: 16px;
  color: #000000;
  background-color: #FFFFFF; 
}
section {
  background-color: #E7E7E7;
  position: relative;
  text-align: left;
  padding: 0px;
  border: 0px;
  width: auto;
  height: 1000px;
  float: left;
  margin: 50px;
  position: relative;
  overflow: hidden;
}
p.body {
  padding: 15px;
  position: relative;
}

/* END BODY */


{
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
}

